* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

#section1 {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
}

.box1 {
    border-radius: 10px;
    background: rgba(246, 245, 244, 0.3);
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.mt_nega {
    max-width: 30% !important;
    margin-top: -5rem;
    display: block;
    margin-inline: auto;
}

.sec2_bg_green {
    background-color: #789B4A;
    border-radius: 15px;
    padding: 2rem;
}

.sec2_br {
    border-radius: 10px;
}

.sec3_bg_white {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
}

.sec3_br {
    border: 5px solid #DEA36D;
    box-shadow: 10px 10px 4px rgba(222, 163, 109, 0.25);
    border-radius: 15px;
    margin-top: 1rem;
    padding: .2rem;
}

#section3 {
    background-color: #F2F1EC;
}

.sec4_bg_green {
    color: #789B4A;
}

.sec3_question_sec3 {
    max-width: 70%;
}

.sec4_para_text {
    font-size: small;
}

.sec4_img1_img {
    max-width: 70%;
}

.sec5_bg_white {
    background-color: #F1F5EC;
}

#section5 {
    background-color: #F1F5EC;
    padding: 1rem;
}

.sec5_bg_green {
    color: #789B4A;
}

.sec5_text_green {
    color: #789B4A;
}

.sec5_para_text {
    font-size: small;
}

.sec5_bg_white {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
}

#section6 {
    background-color: #DEA36D;
}

.bxs-x-circle {
    font-size: 20px;
    color: #D0021B;
}

.sec7_bg_green {
    background-color: #789B4A;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -2rem;     
}

.sec7_box1_white {
    background-color: white;
    padding: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #789B4A;
}

.sec7_para_text {
    font-size: small;
}

.sec7_box2_green {
    background-color: #F1F5EC;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sec7_border {
    border: 1px solid #789B4A;
    border-radius: 15px;
}

.sec7_img {
    max-width: 70%;
}

/* .sec7_img_sec7 {
    max-width: 70%;
} */

#section8 {
    background-image: url(images/sec8_bg.png);
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.sec8_box_white {
    background-color: #F1F5EC;
    padding: 1rem;
}

.sec8_text_sec8 {
    color: #789B4A;
}

.sec8_para_text {
    font-size: small;
}

.sec8_green_sec8 {
    font-size: small;
    color: #789B4A;
}

.sec8_img1_sec8 {
    max-width: 70%;
}

.sec8_img2_sec8 {
    max-width: 70%;
}

.sec9_text_sec9 {
    color: #789C4A;
}

.sec9_para_text {
    font-size: small;
}

.sec9_img_sec9 {
    max-width: 80%;
}

.sec9_box_green {
    background-color: #789C4A;
    padding: 2rem;
}

.sec9_para_text {
    font-size: small;
}

#section10 {
    background-color: #789C4A;
}

.sec10_box_white {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 10px;
}

.sec10_text_sec10 {
    color: #789C4A;
}

.sec10_para_text {
    font-size: small;
}

.sec10_img_sec10 {
    max-width: 90%;
}

.sec11_box1_green {
    background-color: #789B4A;
    padding: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.sec11_img_sec11 {
    max-width: 90%;
}

.sec11_box2_white  {
    background-color: #F2F1EC;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sec11_text_green {
    color: #789C4A;
}

.sec11_para_text {
    font-size: small;
}

.sec11_border {
    border: 1px solid #789B4A;
    border-radius: 15px;
}

#section12 {
    background-image: url(images/sec12_img.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.sec12_box1_white {
    background-color: white;
    padding: 2rem;
}

.sec12_text_green {
    color: #789B4A;
}

.sec12_para_text {
    font-size: small;
}

.sec12_box2_orange {
    background-color: #DEA36D;
    padding: 1rem;
}

.sec12_box3_white {
    background-color: white;
    padding: 3rem;
}

.sec13_text_green {
    color: #789C4A;
}

.sec13_box_sec13 {
    background-color: #F1F5EC;
    margin-bottom: 15px;
}

#section14 {
    background-image: url(images/sec14_bg.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.sec14_box_white {
    background-color: white;
    padding: 2rem;
}

.sec14_text_green {
    color: #789C4A;
}

.sec14_img_sec14 {
    max-width: 90%;
}

#section15 {
    background-image: url(images/sec15_bg.png);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.sec15_box_white {
    background-color: white;
    padding: .5rem;
    border-radius: 15px;
    border: 3px solid #789C4A;
}

.sec15_text_orange {
    color: #DEA36D;
}

#section16 {
    background-color: #DEA36D;
    padding: 2rem 0;
}

.sec16_box1_white {
    background-color: white;
    padding: .5rem;
}

.sec16_img-sec16 {
    max-width: 50%;
}

.sec16_text_green {
    color: #789C4A;
}

.sec16_box2_green {
    background-color: #789C4A;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.sec16_box3_white {
    background-color: white;
    padding: 2rem;
}

.sec16_box4_green {
    background-color: #789C4A;
    padding: 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sec16_para_text {
    font-size: small;
}

.sec17_text_green {
    color: #789C4A;
}

.sec17_box_light {
    background-color: #F1F5EC;
    padding: 1rem;
}

.sec17_box_white {
    background-color: white;
    padding: 1rem;
}

.sec17_img_sec17 {
    max-width: 90%;
}

#section18 {
    background-image: url(images/sec18_bg.png);
    background-size: cover;
    background-position: center;
    padding: 1rem 0;
}

.section18_box_white {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.sec18_bg_orange {
    background-color: #DEA36D;
    padding: 1rem;
    border-radius: 15px;
    max-width: 65%;
}

#section19 {
    background-color: #789B4A;
}

.sec20_card {
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #789C4A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec20_img_sec20 {
    max-width: 30%;
}

#section21 {
    background-image: url(images/sec21_bg.png);
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.sec21_box1 {
    background-color: white;
    padding: 2rem;
}

.sec21_box2 {
    background-color: #789B4A;
    padding: 2rem;
}

.sec21_text_green {
    color: #789B4A;
}

.sec22_text_green {
    color: #789B4A;
}

.sec22_check_sec22 {
    max-width: 20px;
}

/* .sec22_img_sec22 {
    max-width: 60%;
} */

#section23 {
    background-color: #DEA36D;
    padding: 1.5rem;
}

.sec24_text_green {
    color: #789B4A;
}

/* .sec24_img_sec24 {
    max-width: 90%;
} */

.sec24_para_text {
    font-size: small;
}

#section25 {
    background-image: url(images/sec25_bg.png);
    background-size: cover;
    background-position: center;
    padding: 1rem 0;
}

.sec25_box_white {
    background-color: white;
    padding: 1rem;
}

.sec25_text_green {
    color: #789B4A;
}

.sec25_img_sec25 {
    max-width: 60%;
    margin-top: -100px;
}

.sect26_height{
   
}

.sect26_image1{
    background-image: url(./images/sec26_img.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25rem 0 !important;
}

.sec26_bg_green {
    background-color: #789C4A;
    padding: 9rem 2rem !important;
}

.sec26_text_red {
    color: #D0021B;
}

.sec26_img_sec26 {
    max-width: 110%;
}

.sec27_card {
    border-radius: 10px;
    border: 2px solid #789B4A;
}

.sec27_img {
    max-width: 80%;
}

.sec27_img2 {
    max-width: 90;
}

.sec27_card {
    border: 2px solid #789B4A;
    border-radius: 7px;
    align-self: center;
}

.sec27_card2_text {
    background-color: #789B4A;
    padding: 2px;
}

.sec27_text_green {
    color: #789B4A;
}

.sec27_bg_green {
    background-color: #789B4A;
    padding: 1rem;
    border: 1px solid #789C4A;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.sec27_bg_sec27 {
    background-color: #F4F5F7;
    padding: 1rem;
    border: 1px solid #789C4A;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #789B4A;
}

.sec27_bg_border {
    background-color: #789B4A;
    padding: 1rem;
    border-left: 1px solid #789C4A;
    border-right: 1px solid #789C4A;
}

.sec27_border {
    padding: 1rem;
    border: 1px solid #789C4A;
    border-bottom: 1px solid #789B4A;
}

.sec27_border_top {
    padding: 1rem;
    border-left: 1px solid #789C4A;
    border-right: 1px solid #789C4A;
    border-bottom: 1px solid #789B4A;
}

.sec27_bg_light {
    background-color: #F1F5EC;
    padding: 1rem;
    border-left: 1px solid #789C4A;
    border-right: 1px solid #789C4A;
}

.sec27_img_border {
    border-left: 1px solid #789C4A;
    border-right: 1px solid #789C4A;
}

.sec27_bg_orange {
    background-color: #ED9A00;
    padding: .6rem;
    border-radius: 5px;
    margin-top: -20px;
    max-width: 70%;
}

.sec27_footer {
    padding: 2rem;
    border: 1px solid #789C4A;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.sec27_play {
    font-size: 15px;
}

.sec27_save_green {
    background-color: #789B4A;
    padding: 3px;
    border-radius: 10px;
    max-width: 60%;
}

.sec27_text_save {
    font-size: small;
}

#section28  {
    background-color: #DEA36D;
}

.sec28_img {
    max-width: 50%;
}

.sec29_card {
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #789C4A;
}

.sec29_text_green {
    color: #789B4A;
}

.sec29_below_text {
    margin-bottom: 5rem;
}

#section30 {
    background-image: url(images/sec30_bg.png);
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
}

.sec30_img {
    max-width: 60%;
}

.sec31_bg {
    background-color: #F1F5EC;
    padding: 1rem 0;
}

.sec31_text_green {
    color: #789B4A;
}

.sec32_text_green {
    color: #789B4A;
}

.sec32_para_text {
    font-size: small;
}

.sec32_img {
    max-width: 50%;
}

#section34 {
    background-image: url(images/sec34_bg.png);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

#section35{
    background: #F4F4F4;
}


.box-3{
    margin-top: 1.5rem;
    border: 2px solid #789B4A;
    border-radius: 10px;
    padding: .5rem;
}

.icons_icons{
   max-width: 75% !important;
   display: block;
   margin-inline: auto;
}

#section36 {
    background-image: url(images/sec36_bg.png);
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.sec36_box {
    background-color: #FFFFFF;
    padding: 2rem;
    border: 3px solid #789B4A;
    border-radius: 10px;
}

.sec36_para_text {
    font-size: small;
}

.sec36_index {
    margin-right: -70px;
}

#section37 {
    background-image: url(images/sec37_bg.png);
    background-size: cover;
    background-position: center;
    padding: 10rem;
}

.sec37_box1 {
    background-color: #789B4A;
    padding: 1rem;
}

.sec37_box2 {
    background-color: white;
    padding: 2rem;
}

.sec37_para_text {
    font-size:larger;
}

#section39 {
    background-image: url(images/sec39_bg.png);
    background-size: cover;
    background-position: center;
    padding: 10rem;
}

.sec39_box {
    background-color: white;
    padding: .5rem;
    border: 1px solid #789B4A;
    border-radius: 10px;
}

/* #section40 {
    background-image: url(images/sec40_bg.png);
    background-size: cover;
    background-position: center;
    padding: 10rem;
}  */

.sec40_text_green {
    color: #789B4A;
}

#section42 {
    background-color: #D9D9D9;
    padding: 2rem;
}

#footer {
    background-color: black;
    padding: 2rem;
}

.footer_box_dark {
    background-color: black;
    border: 2px solid white;
    padding: 1rem;
}

.footer_text{
    font-size: small;
}


@media only screen and (max-width: 768px){
    .sec25_img_sec25 {
        margin-top: 0 !important;
        display: block;
        margin-inline: auto;
    }

    .sect26_image1{
        background-position: center;
        padding: 18rem 0 !important;
    }
}
